<!--WDK:header:start-->
<!--WDK:comment: 165 […] -->
<!--WDK:version:1.5-->
<!--WDK:comment: TODO enable this to be added via css or other a manifest file include -->
<!--WDK:templateoptions:maxwidth:1200px-->
<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie ie7 lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie ie8 lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie ie9 lt-ie10"> <![endif]-->
<!--[if gt IE 9]> <html class="no-js ie not-ie-legacy"> <![endif]-->
<!--[if !IE]><!--> <html class="no-js not-ie"> <!--<![endif]-->
	<head>

		<!--WDK:comment: Force browser to render using Chrome Frame or latest IE rendering engine -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<!--WDK:comment: Viewport for mobile -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!--WDK:display:headinfo-->

		<style>
			<!--WDK:base:css:fonts-->
			/* A comment to stop the syntax highlighting from breaking */
			/* Add the template background options */
			html { <!--WDK:templateoption:templatebg--> }
		</style>

		<!--WDK:base:css:grid:responsive-->

		<!--WDK:comment: This script is the defacto way to enable use of HTML5 sectioning elements in legacy Internet Explorer ~ https://github.com/aFarkas/html5shiv -->
		<!--WDK:comment: Positioned in head because rendering of icon fonts -->
		<!--[if lt IE 9]>
			<!--WDK:base:js:html5shiv-->
		<![endif]-->

	</head>

	<!--WDK:comment: Side column classes on the body to position the site complementary columns -->
	<body class="<!--WDK:base:helperClasses--> template-rwd template-structure-165">

		<a href="#site-content" class="skip-link">Skip to Main Content:</a>

		<!--WDK:comment: Wrapper for the entire site & ID for back-to-top link -->
		<div id="site-top" class="structure">

			<div role="banner" id="site-navigation" class="structure__item structure__item--header">

				<div class="structure__item__utility">

					<ul class="site-navigation reset-list clearfix">

						<!-- Logo -->
						<li class="site-navigation__item site-navigation__item--logo" itemscope itemtype="http://schema.org/Organization">

							<a class="logo<!--WDK:if:header--> logo--image<!--WDK:if:header3--> logo--image-3<!--WDK:elseif:header4--> logo--image-4<!--WDK:endif--><!--WDK:else--> logo--text<!--WDK:endif-->" href="/" itemprop="url">

								<!--WDK:if:header-->
								<span class="logo__utility">
								<!--WDK:if:header3--><!--WDK:display:header3-->
								<!--WDK:elseif:header4--><!--WDK:display:header4-->
								<!--WDK:endif-->
								</span>
								<span class="off-screen" itemprop="name"><!--WDK:display:site_name--></span>
								<!--WDK:else-->
								<span id="logo-text-container" class="logo__utility font--logo" itemprop="name"><!--WDK:display:site_name--></span>
								<!--WDK:endif-->

							</a>

						</li>

						<!-- Main Nav -->
						<li role="navigation" id="site-menu" class="site-navigation__item site-navigation__item--menu">

							<span class="dropdown-toggle">
								<span class="dropdown-toggle__icon i i-menu"></span>
								<span class="dropdown-toggle__text icon-text">Menu</span>
							</span>

							<!--WDK:menu:container:start-->
							<!--WDK:menu:maxdepth:2-->
							<ul class="reset-list dropdown-item menu menu--site menu--depth-<!--WDK:menu:depth-->">
								<!--WDK:menu:start-->
								<li class="menu__item<!--WDK:if:firstMenuItem--> menu__item--first<!--WDK:endif--><!--WDK:if:lastMenuItem--> menu__item--last<!--WDK:endif--><!--WDK:if:menuHasSub--> menu__item--has-sub<!--WDK:endif--><!--WDK:if:currentMenuTree--> menu__item--tree<!--WDK:endif--><!--WDK:if:currentMenuItem--> menu__item--current<!--WDK:endif-->">

									<a class="menu__link" href="<!--WDK:menu:link-->"><!--WDK:menu:text--></a>

									<!--WDK:if:menuHasSub-->
									<span class="menu__item__toggle dropdown-toggle">
										<span class="i i-up"></span>
										<span class="i i-down"></span>
									</span>
									<!--WDK:endif-->

									<!--WDK:if:menuHasSub-->
									<!--WDK:menu:sub-->
									<!--WDK:endif-->

								</li>
								<!--WDK:menu:end-->
							</ul>
							<!--WDK:menu:container:end-->

						</li>

						<!-- Shop -->
						<li class="site-navigation__item site-navigation__item--shop">

							<ul class="reset-list menu menu--shop">

								<!-- Login -->
								<!--WDK:comment: Currently the enable/show/hide logic is a bit complicated in the app - make sure this is the best way to do this -->
								<!--WDK:if:plugin:useraccount:property:shoploginlink-->
								<li id="site-account" class="menu__item menu--shop__account">

									<span class="dropdown-toggle">
										<span class="dropdown-toggle__icon i i-account"></span>
										<span class="dropdown-toggle__text icon-text">account</span>
									</span>

									<div class="dropdown-item">
										<ul class="reset-list">

											<!--WDK:ifnot:plugin:useraccount:isloggedin-->
											<li>
												<a href="/account/" class="dropdown-item__link">My Account</a>
											</li>
											<li>
												<a href="/account/?logout=true" class="dropdown-item__link">Logout</a>
											</li>
											<!--WDK:else-->

											<!--WDK:if:plugin:useraccount:property:shoploginlink-->
											<li>
												<a href="/account/" class="dropdown-item__link">Login</a>
											</li>
											<!--WDK:endif-->

											<!--WDK:if:plugin:useraccount:property:allow_signup-->
											<li>
												<a href="/account/" class="dropdown-item__link">Register</a>
											</li>
											<!--WDK:endif-->

											<!--WDK:endif-->

										</ul>
									</div>

								</li>
								<!--WDK:endif-->

								<!-- Basket -->
								<!--WDK:if:plugin:shop:property:use_basket-->
								<li id="site-basket" class="menu__item menu--shop__basket">

									<span class="dropdown-toggle">
										<span class="dropdown-toggle__icon i i-basket"></span>
										<span class="dropdown-toggle__text icon-text">basket</span>
									</span>

									<div class="dropdown-item">
										<div class="basket basket--micro">
											<div class="basket__total">Total: <!--WDK:basket:total--></div>
											<ul class="reset-list basket__menu">
												<li>
													<a class="dropdown-item__link" href="<!--WDK:basket:basketLink-->">Basket</a>
												</li>
												<li>
													<a class="dropdown-item__link" href="<!--WDK:basket:checkoutLink-->">Checkout</a>
												</li>
											</ul>
										</div>
									</div>

								</li>
								<!--WDK:endif-->

								<!--WDK:if:hasShop-->
								<!-- Search -->
								<li id="site-search" class="menu__item menu--shop__search">

									<span class="dropdown-toggle">
										<span class="dropdown-toggle__icon i i-search"></span>
										<span class="dropdown-toggle__text icon-text">search</span>
									</span>

									<div class="dropdown-item">
										<form class="form site-search" method="get" action="/shop/search.php" name="sideSearchForm">
											<fieldset class="fieldset">
												<legend class="legend">Search the shop</legend>
												<input class="text-input" name="q" id="shop_search_header" type="search" placeholder=""/>
												<button class="button" type="submit">
													<span class="i i-search"></span>
													<span class="icon-text">Search</span>
												</button>
											</fieldset>
										</form>
									</div>
								</li>
								<!--WDK:endif-->
							</ul>

						</li>
					</ul>
				</div>

			</div>

			<!--WDK:comment: Wrapper for the page & ID for back-to-top link -->
			<main id="site-content" class="structure__item structure__item--page">

				<div class="structure__item__utility clearfix">

					<!--WDK:comment: Main content relevant to the site -->
					<div role="main" class="site-main">
						<h1 class="site-main__page-title wdk_content-pagetitle heading heading--alpha font--heading"><span class="heading__utility"><!--WDK:display:pagetitle--></span></h1>
						<!--WDK:header:end-->

						<!--WDK:comment: Page Content goes here -->

						<!--WDK:footer:start-->
					</div>
					<!--WDK:comment: Primary complementary content relevant to the site -->
					<!--WDK:column:start:right-->
					<!--WDK:column:width:none-->
					<aside role="complementary" id="wdk_sidecolumn-containerright" class="site-complementary site-complementary--primary">
						<div class="site-complementary__utility">
							<!--WDK:column:item:start-->
							<div class="dyos_sideColumnItem">
								<h2 class="dyos_sideColumnTitle complementary-block__header heading heading--delta font--heading"><span class="heading__utility"><!--WDK:column:item:title--></span></h2>
								<span class="dyos_sideColumnContent"><!--WDK:column:item:content--></span>
							</div>
							<!--WDK:column:item:end-->
						</div>
					</aside>
					<!--WDK:column:end:right-->
					<!--WDK:comment: Secondary complementary content relevant to the site -->
					<!--WDK:column:start:left-->
					<!--WDK:column:width:none-->
					<aside role="complementary" id="wdk_sidecolumn-containerleft" class="site-complementary site-complementary--secondary">
						<div class="site-complementary__utility">
							<!--WDK:column:item:start-->
							<div class="dyos_sideColumnItem">
								<h2 class="dyos_sideColumnTitle complementary-block__header heading heading--delta font--heading"><span class="heading__utility"><!--WDK:column:item:title--></span></h2>
								<span class="dyos_sideColumnContent"><!--WDK:column:item:content--></span>
							</div>
							<!--WDK:column:item:end-->
						</div>
					</aside>
					<!--WDK:column:end:left-->
				</div>

			</main>

			<!--WDK:comment: Footer information relevant to the site -->
			<div role="contentinfo" id="site-footer" class="structure__item structure__item--footer">

				<div class="structure__item__utility">

					<footer class="footer footer--site <!--WDK:if:plugin:paymentcards:enabled--> footer--site--has-payment<!--WDK:else--> footer--site--has-no-payment<!--WDK:endif--><!--WDK:if:plugin:newsletter:enabled--> footer--site--has-newsletter<!--WDK:else--> footer--site--has-no-newsletter<!--WDK:endif--><!--WDK:if:plugin:socialprofile:enabled--> footer--site--has-social<!--WDK:else--> footer--site--has-no-social<!--WDK:endif--><!--WDK:if:copyrightEnabled--> footer--site--has-copyright<!--WDK:else--> footer--site--has-no-copyright<!--WDK:endif-->">

						<!-- TODO only output this if there is content in the text -->
						<!--WDK :if:display:sitefooter-->
						<div class="footer--site__item footer--site__item--tinymce">
							<!--WDK:display:sitefooter-->
						</div>
						<!-- WDK:endif-->

						<!--WDK:if:plugin:socialprofile:enabled-->
						<div class="footer--site__item footer--site__item--social">

							<h1 class="heading heading--gamma font--heading"><span class="heading__utility"><!--WDK:plugin:socialprofile:label--></span></h4>

							<ul class="list list--social">
								<!--WDK:plugin:socialprofile:start-->
								<li>
									<a class="list__link" href="<!--WDK:plugin:socialprofile:link-->" target="_blank">
										<span class="i i-<!--WDK:plugin:socialprofile:type-->"></span>
										<span class="icon-text"><!--WDK:plugin:socialprofile:name--></span>
									</a>
								</li>
								<!--WDK:plugin:socialprofile:end-->
							</ul>
						</div>
						<!--WDK:endif-->

						<!--WDK:if:plugin:paymentcards:enabled-->
						<div class="footer--site__item footer--site__item--payment">

							<h1 class="heading heading--gamma font--heading"><span class="heading__utility"><!--WDK:plugin:paymentcards:label--></span></h4>

							<ul class="list list--payment">
								<!--WDK:plugin:paymentcards:start-->
								<li>
									<span class="image-icon"><img src="<!--WDK:plugin:paymentcards:url-->" alt="<!--WDK:plugin:paymentcards:name-->"></span>
									<span class="image-text"><!--WDK:plugin:paymentcards:name--></span>
								</li>
								<!--WDK:plugin:paymentcards:end-->
							</ul>
						</div>
						<!--WDK:endif-->

						<!--WDK:if:plugin:newsletter:enabled-->
						<div class="footer--site__item footer--site__item--newsletter">

							<!--WDK:plugin:newsletter:start-->
							<h1 class="heading heading--gamma font--heading"><span class="heading__utility"><!--WDK:plugin:newsletter:label--></span></h4>

							<fieldset class="fieldset">
								<label class="label" for="wdk-plugin-newsletter-input">Label</label>
								<!--WDK:plugin:newsletter:input-->
								<button type="submit" class="button">
									<span class="i i-plus"></span>
									<span class="icon-text">Sign Up</span>
								</button>
								<!--WDK:comment: Form validation -->
								<div class="form__feedback form__feedback--failed validation--negative">Please enter a valid email address</div>
								<div class="form__feedback form__feedback--success validation--positive">Thanks, you are now subscribed to our mailing list</div>
								<div class="form__feedback form__feedback--progress">Sending&hellip;</div>
							</fieldset>
							<!--WDK:plugin:newsletter:end-->
						</div>
						<!--WDK:endif-->

						<!-- Copyright -->
						<!--WDK:if:copyrightEnabled-->
						<div class="footer--site__item footer--site__item--copyright">
							<!--WDK:display:copyright-->
						</div>
						<!--WDK:endif-->
						<!--WDK:display:sitefooterend-->

					</footer>

				</div>
			</div>

		</div>

		<!--WDK:comment: CSS-driven breakpoint helper triggers -->
		<div class="utility-js-triggers">
			<!--WDK:comment: Navigation trigger -->
			<span id="js-navigation-breakpoint-trigger" class="utility-navigation-breakpoint-trigger"></span>
		</div>

	</body>

</html>
<!--WDK:footer:end-->
