
// Product Summary Base Styles
//

.product-summary {
	position: relative;
	margin-bottom: 1em;
}

.product-summary__body {
	color: inherit;
	text-decoration: none;
	display: block;
	padding: 1em;
	padding-bottom: 0;
}


.product-summary__sale-banner {
	position: absolute;
	z-index: index($z-index-list, sale-banner);
}

.product-summary__details {
	@include reset-list();
}



.product-summary-list {}

.product-summary-list--tile {
	// Equal height grid items / products
	display: flex;
  flex-wrap: wrap;
}

.product-summary-list--row {}
