
// Product Summary Base Styles
//

.product-summary {
	position: relative;
	margin-bottom: 1em;
}

.product-summary__sale-banner {
	position: absolute;
	z-index: index($z-index-list, sale-banner);
}

.product-summary__details {
	@include reset-list();
}
