/*
// Menu Site
*/

//
// First menu depth
//

.menu--site.menu--depth-0 {

	// Header minor breakpoint
	@include media-query($template-option-header-major-breakpoint, max) {

		// Add decorative
		&:before {

			// Display
			content: "";
			display: block;
			z-index: 0;

			// Position
			position: absolute;
			top: ( spacing(1) / 2 ); // 2px
			right: ( spacing(1) / 2 ); // 2px
			bottom: ( spacing(1) / 2 ); // 2px
			left: ( spacing(1) / 2 ); // 2px

			// Theme
			border: 1px solid #{$wdk-header-dropdown-accent};
		}

		//
		> * {

			z-index: 1;
			position: relative;
		}
	}

	// Header major breakpoint
	@include media-query($template-option-header-major-breakpoint, min, true) {

		// Position
		float: right;

		// Whitespace
		margin-right: spacing(4); // 16px

		// Remove font size
		@include whitespace-remove();

		// Reset off-screen
		position: relative;
		left: 0;
	}
}



//
// First menu depth direct child
//

.menu--site.menu--depth-0 > .menu__item {

	// Header major breakpoint
	@include media-query($template-option-header-major-breakpoint, min, true) {

		// Align the first depth of menu items in a horizontal row
		display: inline-block;
		zoom: 1;

		// Whitespace
		margin-left: spacing(4); // 16px

		// Remove whitespace from first item
		&:first-child {

			margin-left: 0;
		}
	}

	// Interaction
	&:hover,
	&:active {

		// Direct child links withing this row
		> .menu__link {

			// Header major breakpoint
			@include media-query($template-option-header-major-breakpoint, min, true) {

				// Theme
				background-color: #{$wdk-header-dropdown-background};
				color: #{$wdk-header-dropdown-link};
			}
		}
	}

	// Direct child links withing this row
	> .menu__link {

		// Header major breakpoint
		@include media-query($template-option-header-major-breakpoint, min, true) {

			// Theme
			color: #{$wdk-header-menu-link};

			// Align menu items in a horizontal row
			display: inline-block;
			zoom: 1;
		}
	}

	// Add decorative character/icon to items with sub menus
	&--has-sub > .menu__link:after {

		// Header major breakpoint
		@include media-query($template-option-header-major-breakpoint, min, true) {

			// Add icon/charecter
			content: "\00bb"; // "»"

			// Display
			display: inline-block;
			zoom: 1;

			// Whitespace
			margin-left: spacing(1); // 4px
		}
	}

	// Position sub menus on-screen on hover
	&--has-sub:hover > .menu {

		// Header major breakpoint
		@include media-query($template-option-header-major-breakpoint, min, true) {

			// Position
			left: 0;
			top: 100%;

			// Size
			width: 100%;
		}
	}
}



//
// Menu link
//

.menu--depth-0 .menu__link {

	// Header major breakpoint
	@include media-query($template-option-header-major-breakpoint, min, true) {

		// Whitespace
		padding: spacing(2); // 8px
	}
}



//
// Dropdown menu item
//

.menu--depth-0 .dropdown-item {

	// Header major breakpoint
	@include media-query($template-option-header-major-breakpoint, min, true) {

		// Theme
		background-color: #{$wdk-header-dropdown-background};

		// Whitespace
		padding: spacing(3); // 12px
	}
}



//
// Dropdown menu link
//

.menu--depth-1 {

	// Header minor breakpoint
	@include media-query($template-option-header-major-breakpoint, min, true) {

		// Add decorative
		&:before {

			// Display
			content: "";
			display: block;
			z-index: 0;

			// Position
			position: absolute;
			top: ( spacing(1) / 2 ); // 2px
			right: ( spacing(1) / 2 ); // 2px
			bottom: ( spacing(1) / 2 ); // 2px
			left: ( spacing(1) / 2 ); // 2px

			// Theme
			border: 1px solid #{$wdk-header-dropdown-accent};
		}

		//
		> * {

			z-index: 1;
			position: relative;
		}
	}


	// All dropdowns links
	.menu__link {

		// Header major breakpoint
		@include media-query($template-option-header-major-breakpoint, min, true) {

			// Theme
			color: #{$wdk-header-dropdown-link};

			// Remove text decoration
			text-decoration: none;
		}

		// Hover and focus states on dropdown links
		&:hover,
		&:focus {

			// Header major breakpoint
			@include media-query($template-option-header-major-breakpoint, min, true) {

				// Add the interation style
				text-decoration: underline;
			}
		}
	}

	// All dropdowns items
	.menu__item {

		// Header major breakpoint
		@include media-query($template-option-header-major-breakpoint, min, true) {

			/* Prevent the dropdown menu items from wrapping */
			white-space: nowrap;

			// Vertical rhythm
			margin-top: spacing(3); // 12px
		}

		&:first-child {

			// Header major breakpoint
			@include media-query($template-option-header-major-breakpoint, min, true) {

				// Remove vertical rhythm from first item
				margin-top: 0;
			}
		}
	}
}


//
// Menu site items
//

.menu--site .menu__item {

	// Header major breakpoint
	@include media-query($template-option-header-major-breakpoint, min, true) {

		// Reset font size
		@include whitespace-reset();
	}
}
