
// Navigation Breakpoint Trigger

// This element outputs the breakpoint we are currently at in a hidden `:before` element.
// We can then check that with the javacsript to enable media queries in javascript. Sort of.

.utility-navigation-breakpoint-trigger:before {

	position: absolute;
	left: -9999px;
	font-size: 0;
	height: 0;
	width: 0;
	overflow: hidden;


	// Lower UI context
	@include media-query($template-option-major-breakpoint, max) {

		content: "minor";
	}

	// Upper UI context
	@include media-query($template-option-major-breakpoint, min) {

		content: "major";
	}
}
