
// Headings Mixin
//
// Creates a typographic scale for headings using a 'perfect fourth' ratio.
// If we didn't want a 'large', 'medium', 'small' option, we could just use rem's and em's. O well.

@mixin heading-size( $base-size: $base-font-size ){

	h1,
	.alpha,
	h2,
	.beta,
	h3,
	.gamma,
	h4,
	.delta,
	h5,
	.epsilon,
	h6,
	.zeta {
		margin-top: 0;
		margin-bottom: 0.5em;
		line-height: 1.2;
	}

	h1,
	.alpha {
		font-size: round( $base-size * 3.157 );
	}
	h2,
	.beta {
		font-size: round( $base-size * 2.369 );
	}
	h3,
	.gamma {
		font-size: round( $base-size * 1.777 );
	}
	h4,
	.delta {
		font-size: round( $base-size * 1.333 );
	}
	h5,
	.epsilon  {
		font-size: round( $base-size * 1.166 );
	}
	h6,
	.zeta {
		font-size: round( $base-size * 1 );
	}
}
