
// Headings Mixin
//
// Creates a typographic scale for headings using a choice of typographic scales, taken from http://type-scale.com/
// Example Usage: @include heading-size( $heading--med );

// major-second
$heading--x-small: (
	alpha: 1.602,
	beta: 1.424,
	gamma: 1.266,
	delta: 1.125,
	epsilon: 1.063,
	zeta: 1
);

// minor-third
$heading--small: (
	alpha: 2.074,
	beta: 1.728,
	gamma: 1.44,
	delta: 1.2,
	epsilon: 1.1,
	zeta: 1
);

// major-third
$heading--med: (
	alpha: 2.441,
	beta: 1.953,
	gamma: 1.563,
	delta: 1.25,
	epsilon: 1.125,
	zeta: 1
);

// perfect-fourth
$heading--large: (
	alpha: 3.157,
	beta: 2.369,
	gamma: 1.777,
	delta: 1.333,
	epsilon: 1.166,
	zeta: 1
);

// perfect-fifth
$heading--x-large: (
	alpha: 5.063,
	beta: 3.375,
	gamma: 2.25,
	delta: 1.5,
	epsilon: 1.25,
	zeta: 1
);


@mixin heading-size( $scale: $heading--small ){

	@each $heading, $size in $scale {

		.heading--#{$heading} {

			@include font-size( $base-font-size * $size, $line-height:false );

		}

	} // end @each
} // end @mixin

.heading {
	margin-top: 0;
	margin-bottom: .5em;
	line-height: 1.2; // override the font-size mixin
}
