
// Headings Mixin
//
// Creates a typographic scale for headings using a choice of typographic scales, taken from http://type-scale.com/
// Example Usage: @include heading-size($perfect-fifth);

// x-small
$major-second: (
	alpha: 1.602,
	beta: 1.424,
	gamma: 1.266,
	delta: 1.125,
	epsilon: 1.063,
	zeta: 1
);


// small ( Current )
$major-third: (
	alpha: 2.441,
	beta: 1.953,
	gamma: 1.563,
	delta: 1.25,
	epsilon: 1.125,
	zeta: 1
);

// Med
$perfect-fourth: (
	alpha: 3.157,
	beta: 2.369,
	gamma: 1.777,
	delta: 1.333,
	epsilon: 1.166,
	zeta: 1
);

// Large
$perfect-fifth: (
	alpha: 5.063,
	beta: 3.375,
	gamma: 2.25,
	delta: 1.5,
	epsilon: 1.25,
	zeta: 1
);


@mixin heading-size( $scale: $major-third ){

	.heading {
		margin-top: 0;
		margin-bottom: ($base-font-size * .2); // rem fallback
		margin-bottom: .5rem;
	}

	@each $heading, $size in $scale {

		.heading--#{$heading} {
			@include font-size( $base-font-size * $size );
		}
	}

}
