
// Headings Mixin
//
// For the design studio 'heading scale' option
// Creates a typographic scale for headings using a choice of typographic scales, taken from http://type-scale.com/
// The $heading--[size] vars are Sass maps set in boilerplate/variables.scss and can be redefined to make a templates options bigger, smaller, more varied etc

.heading {
	margin-top: 0;
	margin-bottom: .5em;
	line-height: 1.2;
	font-weight: normal;
}

// Mixin to convert heading scale variable to actual font sizes
@mixin heading-size( $mixin-scale: $heading--small ){

	@each $mixin-heading, $mixin-size in $mixin-scale {

		.heading--#{$mixin-heading} {

			@include font-size( $template-option-font-size * $mixin-size, false );

		}

	} // end @each
} // end @mixin


//
// Output the font sizes

// fallback / default
@include heading-size( $heading--med );

.heading--small {
	@include heading-size( $heading--small );
}
.heading--med {
	@include heading-size( $heading--med );
}
.heading--lrg {
	@include heading-size( $heading--large );
}
.heading--x-lrg {
	@include heading-size( $heading--x-large );
}
