// ================== //
// Layout: full bleed //
// ================== //

body {
	margin: 0;
}

.structure__item__utility {

	max-width: $template-option-max-width;
	margin: auto;
}

// Option: set page builder containers to full bleed
// one day this will be another layout option, but for now, it only works with the full-bleed option.
@if $pagebuilder-full-bleed == true {

	.page-type-pagebuilder {

		.structure__item--page .structure__item__utility {
			max-width: none;
		}

		.site-main__page-title,
		.container {
			padding-left: 1rem;
			padding-right: 1rem;
		}

		// Apply contsraint to page builder content
		.site-main__page-title,
		.container__content {
			max-width: $template-option-max-width;
			margin-left: auto;
			margin-right: auto;
		}

	}

	body:not(.page-type-pagebuilder) {
		.structure__item--page {
			padding-left: 1rem;
			padding-right: 1rem;
		}
	}
}
