

body.has-pb-full-width-containers {

  .structure__item--page {

    padding-right: 0;
    padding-left: 0;
  }

  .structure__item--page .structure__item__utility {

    max-width: none;
  }

  .site-main__page-title .heading__utility {

    display: block;
    max-width: $template-option-max-width;
    margin-right: auto;
    margin-left: auto;
  }

  .container--full-width-theme .container__theme {

    right: 0;
  	left: 0;
  }

  .container__content {

    max-width: $template-option-max-width;
    margin-right: auto;
    margin-left: auto;
  }

  &.wdk_columnCount_1 .site-main,
  &.wdk_columnCount_2 .site-main {

      width: 100%;
      margin: 0;
      float: none;

      // For specificity
      &.site-main {
          padding-left: 0;
          padding-right: 0;
      }
  }
  .site-complementary--primary.site-complementary--primary,
  .site-complementary--secondary.site-complementary--secondary {
      width: 100%;
      max-width: $template-option-max-width;
      margin-left: auto;
      margin-right: auto;
      margin-top: $template-option-gutter-size;
      float: none;
      padding-left: 0;
      padding-right: 0;

      @media (max-width: $template-option-max-width + ($template-option-gutter-size*2) ) {
        padding-left: $template-option-gutter-size;
        padding-right: $template-option-gutter-size;
      }
  }

  .site-main__page-title {

    @media (max-width: $template-option-max-width + ($template-option-gutter-size*2) ) {
      padding-left: $template-option-gutter-size;
      padding-right: $template-option-gutter-size;
    }
  }

} // end .has-pb-full-width-containers
