/* ====================================== //
// PAGEBUILDER: RESPONSIVE OBJECT EXTENDS //
// ====================================== */


/*
// Behavior: Extend other modules to add responsive reflows
// Dependencies: variables.scss container.scss content-block.scss media.scss page.scss
// Browser Support: IE9>
// Further Reading:
*/


// B: Page Builder Grid
.content-blocks.grid {

	> :last-child {

		margin-bottom: 0;
	}

	// Palm
	@include media-query(($live-pages-lap-start - 1px), max) {

		margin-left: 0;
	}
}

// B: Page Builder Grid Item
.content-blocks > .grid__item {

	margin-bottom: $template-option-gutter-size;

	// Palm
	@include media-query(($live-pages-lap-start - 1px), max) {

		padding-left: 0;
		width: 100%;
	}

	// Lap
	@include media-query($live-pages-lap-start, min) {

		// Remove the bottom margin
		margin-bottom: 0;
	}
}

// M:
.content-blocks.grid--flush > .grid__item {

	margin-bottom: 0 !important;
}



// Media Grid
.content-block.media--grid {

	// Palm
	@include media-query(($live-pages-lap-mid-start - 1px), max) {

		margin-left: 0;
	}
}

// Media Grid
.content-block.media--grid .media__medium,
.content-block.media--grid .media__copy {

	// Palm
	@include media-query(($live-pages-lap-mid-start - 1px), max) {

		padding-left: 0;
		width: 100%;
	}
}

.content-block.media--grid .media__medium {

	// Palm
	@include media-query(($live-pages-lap-mid-start - 1px), max) {

		margin-bottom: $template-option-gutter-size;
	}
}

.content-block.media--wrap .media__medium {

	// Palm
	@include media-query(($live-pages-lap-start - 1px), max) {

		width: 50%;
	}
}


/* ====================================== //
// MEDIA QUERIES BASED ON CONTENT NUMBERS //
// ====================================== */

/*
// 3 items in a container
*/

[data-pb-items="3"] .grid__item {

	// Lap - Lap Mid
	@include media-query($live-pages-lap-start, min) {
		@include media-query(($live-pages-lap-mid-start - 1px), max) {

			width: 50%;
		}
	}

	&:first-child {

		// Lap - Lap Mid
		@include media-query($live-pages-lap-start, min) {
			@include media-query(($live-pages-lap-mid-start - 1px), max) {

				width: 100%;
				margin-bottom: $template-option-gutter-size;
			}
		}
	}
}

/*
// 4 items in a container
*/

[data-pb-items="4"] .grid__item {

	// Lap - Lap Mid
	@include media-query($live-pages-lap-start, min) {
		@include media-query(($live-pages-lap-mid-start - 1px), max) {

			width: 50%;
			margin-bottom: $template-option-gutter-size;
		}
	}
}
