/* =========================== //
// NAVIGATION DROPDOWN STACKED //
// =========================== */

// This mixin will throw the navigation in to a stacked layout with up and down arrow icons to open and close sub sections.
// This mixin can be included in a media query. For example, many templates will use this pattern on mobile breakpoints, side menu layouts will use it on all breakpoints.

// $size 							- sets the icon size
// $mixin-navigation-spacing-unit	- 
// $depth 							- 

@mixin navigation--dropdown--stacked($size: null, $depth: null, $mixin-navigation-spacing-unit: $base-spacing-unit) {


	// ======== //
	// NAV MAIN //
	// ======== //

	.nav-main {

		width: 100%;

	}


	// E: a link that skips past the navigation when js is not avaible - the markup is within a <noscript> tag
	.nav-main-skip {

		display: block;
		width: 100%;
		text-decoration: none;
		padding-right: ($mixin-navigation-spacing-unit/5)*3;
		padding-left: ($mixin-navigation-spacing-unit/5)*3;
		margin-bottom: $mixin-navigation-spacing-unit;

		// Optional: is size has been set
		@if $size {
			
			height: $size;
			line-height: $size;
			
		}

	}
	


	// ======== //
	// NAV ITEM //
	// ======== //

	.nav-main__item {

		// Mobile first
		width: 100%;

		// Ensure its not inline-block, and as such make items stacked
		display: block;

		// Modifier: Item has sub-menu
		&--has-sub {

			position: relative;

		}
		
	}

	

	// ======== //
	// NAV LIST //
	// ======== //

	.nav-main__list {

		// Reset all user-agent styles from <ul> <ol> elements
		margin-left: 0;
		margin-bottom: 0;
		padding-left: 0;
		list-style: none;

		// Context: Direct child of a sub-menu
		.nav-main__item--has-sub > & {

			margin-left: ($mixin-navigation-spacing-unit/5)*3;

		}

		// Modifier: JS added class to close menu
		&--closed {

			height: 0;
			overflow: hidden;

		}

	}



	// ======== //
	// NAV LINK //
	// ======== //

	.nav-main__link {

		// remove link underline from all menu items
		text-decoration: none;

		display: block;
		width: 100%;

		// Basically should be a mixin
		white-space: nowrap;
		-ms-text-overflow: ellipsis;
		text-overflow: ellipsis;
		overflow: hidden;

		// Optional: is size has been set
		@if $size {
			
			height: $size;
			line-height: $size;
			padding-right: ($mixin-navigation-spacing-unit/5)*3;
			
		}
		
		padding-left: ($mixin-navigation-spacing-unit/5)*3;


		// Context: Direct child of sub-menu
		.nav-main__item--has-sub > & {

			// Optional: is size has been set
			@if $size {
				
				padding-right: $size;
				
			}

		}
		
	} // end .nav-main__link


	
	// ================== //
	// JAVASCRIPT TOGGLES //
	// ================== //

	.js-nav-main__item__toggle {

		// Context: Browser has JS
		position: absolute;
		top: 0;
		right: 0;
		display: table;
		text-align: center;
		text-decoration: none;
		
		// E: drop down arrows
		.i:before {

			// Optional: is size has been set
			@if $size {
				
				width: $size;
				height: $size;
			}

			font-size: $base-icon-size;
			display: table-cell;
			vertical-align: middle;

		}

		// Show and hide the up / down arrow icons when drop down is toggled / active
		.i.i-up {
			// Extra specificity required for structure 162
			display: none;
		}
		&.js-nav-main__item__toggle--active {
			.i-up {
				display: table-cell;
			}
			.i-down {
				display: none;
			}
		}


		@if $depth {
			
			.nav-main__list--depth-#{$depth - 1} & {
				
				display: none;

			}

		}

		// Context: no javascript
		// Full menu is shown so drop down toggles are not required
		.no-js & {

			display: none;
			
		}

	} // end .js-nav-main__item__toggle


} // end @mixin
