
// Form Base Styles

.form {
	max-width: 750px;
    margin-bottom: 2em;
}

.form-fields {
	@include reset-list();

	> li {
		margin-bottom: 1em;
	}

	.text-input,
	.select,
	input[type=file] {
		width: 100%;
	}

	.legend {
		padding-bottom: 0;
	}

	label {
		display: block;

		.text-input,
		.select,
		input[type=file] {
			width: auto;
			margin-left: 4px;
		}
	}
}

.text-input {
	font-size: 1em;
    padding: 0.4em;
}

 .fieldset {
	 border: none;
	 padding: 0;
	 margin: 0;
 }
 .legend {

	 display: block;
	 font-size: 1.3em;
	 margin-bottom: .7em;
 }

.check-list {
	@include reset-list();

	input[type=checkbox],
	input[type=radio] {
    margin-right: 4px;
	}
}

// M: the 'contact us' form, default page for new users
.form--contact {

	.form-fields {
		display: flex;
		flex-wrap: wrap;

		// grid
		margin-left: -2em;

		li {
			flex: 0;
			flex-basis: 100%;
			padding-left: 2em;
		}
	}
	li:first-child,
	li:nth-child(2) {
		flex: 1;
		flex-basis: 50%;
	}

	.wdk_contactus-textarea {
		min-height: 100px;
	}
}


.form--search {

    @include inline-button-text-input(90px);
}
