
// Header Shop drop downs

.site-navigation__item--shop {

	position: relative;

	.menu__item {
		// Put icons next to each other
		display: inline-block;
		vertical-align: top;
	}

	.dropdown-toggle__text {
		// Hide the text labels
		display: none;
	}

	.dropdown-toggle__icon {
		font-size: 1.8em;
	}

	.dropdown-item {
		position: absolute;
		right: 0;
		z-index: index($z-index-list, nav-shop);
	}

}



// Site logo / name
.site-navigation__item--logo {
	a {
		color: colour(logo_text);
		text-decoration: none;
	}

	img {
		height: auto !important;
	}
}




// Menu Styles
.site-navigation__item--menu {

	color: colour(header_link_text);

	.menu__link {
		color: inherit;
	}

	.menu--depth-0 .dropdown-item {
		white-space: nowrap;
		width: auto;
	}

}


//
// For the menu cropper to work

.menu__item.menu__item--hidden {
	display: none;
}
.site-navigation__more-menu-dropdown {
	display: inline-block;
}

// hide unless the menu is cropped
.site-navigation__more-menu-dropdown {
	display: none;
	.menu-is-cropped & {
		display: block;
	}
}

// positioning the 'more' menu
.menu-is-cropped {

	.site-navigation__item--menu {
		position: relative;
	}
	.menu--site.menu--depth-0 {
		padding-right: 5em;
	}
	// position the 'more' link up in the space made above
	.site-navigation__more-menu-dropdown {
		position: absolute;
		top: 0;
		right: 0;
	}
	// the dropdown
	.menu--more {
		position: absolute;
		white-space: nowrap;
		z-index: index($z-index-list, nav-drop-down);
		text-align: right;

		.dropdown-toggle{
			cursor: pointer;
		}

		.dropdown-item {
			transform: none;
			position: absolute;
			top: 100%;
			right: 0;
			left: initial;
			text-align: center;
		}

	}
}
