
// Pagebuilder full width

@mixin pagebuilder-full-width($truly-full: true, $page-container: "page-wrapper", $max-width: 1000px, $page-padding: 20px){

    .has-pb-full-width-containers {

        // remove page padding - will be applied back to PB blocks
        .#{$page-container} {
            padding-left: 0;
            padding-right: 0;
            // max-width: 2000px;
        }

        // remove page max-width - will be applied back to PB blocks
        .#{$page-container} > .inner-constraint {
            max-width: none;
        }

        // Set margin and max-width back on
        .container,
        .container__content,
        .site-main__page-title {
            max-width: $max-width;
            margin: auto;
        }

        // Put padding on text and headings
        .container--flush .content-block--text,
        .container--flush .content-block--heading,
        .site-main__page-title {

            @if ($truly-full == true) {

                @media (max-width: $max-width + ($page-padding*2) ) {
                    padding-left: $page-padding;
                    padding-right: $page-padding;
                }

            } @else {
                padding-left: $page-padding;
                padding-right: $page-padding;
            }
        }

        // Remove max-width when the the "full width" container setting is on
        .container.container--full-width {
            max-width: none;
        }


        // Sort out side columns
        &.wdk_columnCount_1 .site-main,
        &.wdk_columnCount_2 .site-main {
            width: 100% !important;
            padding-left: 0 !important;
        }
        .site-complementary--primary,
        .site-complementary--secondary {
            width: 100% !important;
            max-width: 1000px;
            margin: auto;
            float: none !important;
        }

    } // end .has-pb-full-width-containers

} // end @mixin
